<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
<!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"-->
  <link rel="stylesheet" href="static/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!--  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
  <link rel="stylesheet" href="static/css/element-ui.css">
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js"-->
  <script src="static/js/jquery.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<!--  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"-->
  <script src="static/js/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<!--  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"-->
  <script src="static/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <title>TestLink Metrics Report</title>
<!--  <title>Metrics Report</title>-->
</head>

<body>
  <div class="container" id="tmrCase" style="margin-top: 20px;">
    <div class="row col-12">
      <table class="table table-bordered" style="table-layout: fixed; width: 100%; word-break: break-all">
        <thead>
          <tr>
            <th class="col-12">{{ case.ext_id }}: {{ case.name }}</th>
          </tr>
        </thead>
	<tbody>
	  <tr><th>Summary</th></tr>
          <tr>
            {% if case.summary %}
            <td>{{ case.summary | safe }}</td>
            {% else %}
            <td class="text-secondary">-</td>
            {% endif %}
	  </tr>
	  <tr><th>Preconditions</th></tr>
          <tr>
            {% if case.preconditions %}
            <td>{{ case.preconditions | safe }}</td>
            {% else %}
            <td class="text-secondary">-</td>
            {% endif %}
          </tr>
	</tbody>
      </table>
      <table class="table table-bordered" style="table-layout: fixed; width: 100%; word-break: break-all">
        <thead>
          <tr>
            <th style="width: 5%">#</th>
            <th style="width: 55%">Step Actions</th>
            <th style="width: 40%">Expected Results</th>
          </tr>
        </thead>
        <tbody>
          {% if not case.steps %}
          <tr><td colspan="3" class="text-center text-secondary">No Steps</td></tr>
          {% endif %}
          {% for case_step in case.steps %}
          <tr>
            <td>{{ case_step.step_number }}</td>
            <td>{{ case_step.actions | safe }}</td>
            <td>{{ case_step.expected_results | safe }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <table class="table table-bordered" style="table-layout: fixed; width: 100%; word-break: break-all">
        <thead>
          <tr>
            <th scope="col" style="width: 20%">Executed in</th>
            <th class="text-secondary" scope="col" style="width: 80%">
	      Plan[{{ case.exec_plan }}]
	      {% if case.exec_build %} Build[{{ case.exec_build }}] {% endif %}
	      {% if case.exec_platform %} Platform[{{ case.exec_platform }}] {% endif %}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Status</th>
            {% if case.exec_status == 'p' %}
            <td class="text-success"><strong>PASS</strong></td>
            {% elif case.exec_status == 'f' %}
            <td class="text-danger"><strong>FAIL</strong></td>
            {% elif case.exec_status == 'b' %}
            <td class="text-warning"><strong>BLOCK</strong></td>
            {% else %}
            <td class="text-secondary"><strong>NOTRUN</strong></td>
            {% endif %}
          </tr>
          <tr>
            <th>Notes</th>
            {% if case.exec_notes %}
            <td class="text-secondary">{{ case.exec_notes | safe }}</td>
            {% else %}
            <td>-</td>
            {% endif %}
          </tr>
          <tr>
            <th>Bugs</th>
            {% if case.exec_bugs %}
            <td>
              {% for bug in case.exec_bugs %}
              <a class="badge badge-primary" href="{{ case.issue_tracker_uri }}{{ bug.bug_id }}" target="_blank">{{ bug.bug_id }}</a>
              {% endfor %}
            </td>
            {% else %}
            <td>-</td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>
